@tailwind base;
@tailwind components;
@tailwind utilities;
.presentation {
    display: flex;
}

.presentation img {
    width: 35%;
}

.elem {
    display: flex;
    justify-content: space-between;
}

.elem img {
    width: 45%;
}

@media (max-width: 768px) {
    .presentation {
        display: flex;
        flex-direction: column;
    }
    .presentation img {
        width: 100%;
    }
    .elem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .elem img {
        width: 100%;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer div {
        margin-top: 20px;
    }
}